In [2]:
import pandas as pd
import sqlite3

In [3]:
cnx = sqlite3.connect('G:\My Drive\Mishitha\GrammerSchool\instance\site.db')

In [5]:
df = pd.read_sql_query("select * from User", cnx)

In [6]:
print(df)

   id          username                  email   image_file firstname  \
0   1  mishitha.sampara   dr.sampara@gmail.com  default.jpg  Mishitha
1   2     mishi.sampara   dr.sampara@gmail.com  default.jpg  Mishitha
2   3         mishi.sam  mrudula2323@gmail.com  default.jpg  Mishitha

  lastname                                           password
0  Sampara  $2b$12$MOtctr5Y2jvqTY7nD6.y6.Tah0Hel1PifSiJpoD...
1  Sampara  $2b$12$2EFp6YUOpyWCEidjYJipWO0nP9mW5mGD3gMnK8g...
2  Sampara  $2b$12$pFSI47CRLYp6nDXz9wB3I.r8rTxlsuNzlclGupA...